
<div class="list-group">
	{% for category in categories %}
		{% if category.category_id == category_id %}
			<a href="{{ category.href }}" class="list-group-item active"><span style="color:#F00;">{{ category.index }}.&nbsp</span><span>{{ category.name }} <span></a>
		{% else %}
			<a href="{{ category.href }}" class="list-group-item"><span style="color:#F00;">{{ category.index }}.&nbsp</span><span>{{ category.name }} <span></a>
		{% endif %}

		{% if category.children %}
			{% for child in category.children %}
				{% if child.category_id == child_id %}
					<a href="{{ child.href }}" class="list-group-item-child active">&nbsp;&nbsp;&nbsp;-
						{{ child.name }}</a>
				{% else %}
					<a href="{{ child.href }}" class="list-group-item-child">&nbsp;&nbsp;&nbsp;-
						{{ child.name }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}

	{% endfor %}
</div>
