{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-account-sidebar" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-account-sidebar" class="form-horizontal">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-general" data-toggle="tab"><i class="fa fa-cogs"></i> {{ tab_general }}</a></li>
          <li><a href="#tab-account_sidebar-titles" data-toggle="tab"><i class="fa fa-columns"></i> {{ tab_customer_title }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-general">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
              <div class="col-sm-10">
                <select name="module_account_sidebar_status" id="input-status" class="form-control">
                  {% if module_account_sidebar_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-module_account_sidebar-titlebgcolor"><span data-toggle="tooltip" title="{{ help_title_bgcolor }}">{{ entry_title_bgcolor }}</span></label>
              <div class="col-sm-8">
                <input type="text" name="module_account_sidebar_titlebgcolor" value="{{ module_account_sidebar_titlebgcolor }}" placeholder="{{ entry_title_bgcolor }}" id="input-module_account_sidebar-titlebgcolor" class="form-control color-picker" />
              </div>
              <div class="col-sm-2">
                <div class="preview"></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-module_account_sidebar-titlecolor"><span data-toggle="tooltip" title="{{ help_title_color }}">{{ entry_title_color }}</span></label>
              <div class="col-sm-8">
                <input type="text" name="module_account_sidebar_titlecolor" value="{{ module_account_sidebar_titlecolor }}" placeholder="{{ entry_title_color }}" id="input-module_account_sidebar-titlecolor" class="form-control color-picker" />
              </div>
              <div class="col-sm-2">
                <div class="preview"></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-module_account_sidebar-linkbgcolor"><span data-toggle="tooltip" title="{{ help_link_bgcolor }}">{{ entry_link_bgcolor }}</span></label>
              <div class="col-sm-8">
                <input type="text" name="module_account_sidebar_linkbgcolor" value="{{ module_account_sidebar_linkbgcolor }}" placeholder="{{ entry_link_bgcolor }}" id="input-module_account_sidebar-linkbgcolor" class="form-control color-picker" />
              </div>
              <div class="col-sm-2">
                <div class="preview"></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-module_account_sidebar-linkcolor"><span data-toggle="tooltip" title="{{ help_link_color }}">{{ entry_link_color }}</span></label>
              <div class="col-sm-8">
                <input type="text" name="module_account_sidebar_linkcolor" value="{{ module_account_sidebar_linkcolor }}" placeholder="{{ entry_link_color }}" id="input-module_account_sidebar-linkcolor" class="form-control color-picker" />
              </div>
              <div class="col-sm-2">
                <div class="preview"></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-module_account_sidebar-hoverbgcolor"><span data-toggle="tooltip" title="{{ help_hover_bgcolor }}">{{ entry_hover_bgcolor }}</span></label>
              <div class="col-sm-8">
                <input type="text" name="module_account_sidebar_hoverbgcolor" value="{{ module_account_sidebar_hoverbgcolor }}" placeholder="{{ entry_hover_bgcolor }}" id="input-module_account_sidebar-hoverbgcolor" class="form-control color-picker" />
              </div>
              <div class="col-sm-2">
                <div class="preview"></div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-module_account_sidebar-hovercolor"><span data-toggle="tooltip" title="{{ help_hover_color }}">{{ entry_hover_color }}</span></label>
              <div class="col-sm-8">
                <input type="text" name="module_account_sidebar_hovercolor" value="{{ module_account_sidebar_hovercolor }}" placeholder="{{ entry_hover_color }}" id="input-module_account_sidebar-hovercolor" class="form-control color-picker" />
              </div>
              <div class="col-sm-2">
                <div class="preview"></div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-account_sidebar-titles">
            <div class="row">
              <div class="col-sm-4 col-xs-12 col-md-3">
                <ul class="nav nav-pills nav-stacked" id="titles">
                {% set title_row = 0 %}
                  {% for title in titles %}
                  {% set counter = title_row + 1 %}
                  <li class="titles-li"><a href="#tab-title{{ title_row }}" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$('a[href=\'#tab-title{{ title_row }}\']').parent().remove(); $('#tab-title{{ title_row }}').remove(); $('#titles a:first').tab('show');"></i> {{ title.description[config_language_id].title ? title.description[config_language_id].title : tab_title ~ '-' ~ counter }} <i class="fa fa-arrows pull-right" aria-hidden="true"></i></a></li>
                  {% set title_row = title_row + 1 %}
                  {% endfor %}
                </ul>
                <ul class="nav nav-pills nav-stacked addtitlebutton">
                  <li><button type="button" class="btn btn-default btn-block" onclick="addTitle();"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ button_add_title }}</button></li>
                </ul>
              </div>
              <div class="col-sm-8 col-xs-12 col-md-9">
                <div class="tab-content" id="tab-content">
                  {% set title_row = 0 %}
                  {% set module_account_sidebar_link_title_row = 0 %}
                  {% for title_key, title in titles %}
                  <div class="tab-pane" id="tab-title{{ title_row }}">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">{{ entry_status }}</label>
                      <div class="col-sm-10">
                        <select name="module_account_sidebar_title[{{ title_row }}][status]" class="form-control title-status" rel="{{ title_row }}">
                          {% if title.status %}
                          <option value="1" selected="selected">{{ text_enabled }}</option>
                          <option value="0">{{ text_disabled }}</option>
                          {% else %}
                          <option value="1">{{ text_enabled }}</option>
                          <option value="0" selected="selected">{{ text_disabled }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group hide">
                      <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_sort_order }}">{{ entry_sort_order }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="module_account_sidebar_title[{{ title_row }}][sort_order]"  value="{{ title.sort_order }}" class="form-control title-sortorder" />
                      </div>
                    </div>
                    <div class="title-group">
                      <ul class="nav nav-tabs" id="title-language{{ title_row }}">
                        {% for language in languages %}
                        <li><a href="#title-language{{ title_row }}-{{ language.language_id }}" data-toggle="tab">
                        <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}
                        </a></li>
                        {% endfor %}
                      </ul>
                      <div class="tab-content">
                        {% for language in languages %}
                        <div class="tab-pane" id="title-language{{ title_row }}-{{ language.language_id }}">
                          <div class="form-group required">
                            <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_title }}">{{ entry_title }}</span></label>
                            <div class="col-sm-10">
                              <input type="text" name="module_account_sidebar_title[{{ title_row }}][description][{{ language.language_id }}][title]" value="{{ title.description[language.language_id].title ? title.description[language.language_id].title }}" placeholder="{{ entry_title }}" class="form-control" />
                              {% if error_title[title_key][language.language_id] %}
                                <div class="text-danger">{{ error_title[title_key][language.language_id] }}</div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                      <fieldset id="link-values{{ title_row }}">
                        <legend>{{ text_value_setting }}</legend>
                        <table id="accountsidebarlink-title{{ title_row }}" class="table table-striped table-bordered table-hover">
                          <thead>
                            <tr>
                              <td class="text-left required">{{ entry_link_title }}</td>
                              <td class="text-left">{{ entry_link }}</td>
                              <td class="text-left">{{ entry_iconclass }}</td>
                              <td class="text-left">{{ entry_logged }}</td>
                              <td class="text-right hide">{{ entry_sort_order }}</td>
                              <td class="text-right">{{ entry_action }}</td>
                            </tr>
                          </thead>
                          <tbody class="links-sortable">
                            {% if title.link_title %}
                            {% for link_key, module_account_sidebar_link_title in title.link_title %}
                            <tr id="accountsidebarlink-title-row{{ title_row }}-{{ module_account_sidebar_link_title_row }}">
                              <td class="text-left">
                                <input type="hidden" name="module_account_sidebar_title[{{ title_row }}][link_title][{{ module_account_sidebar_link_title_row }}][module_account_sidebar_link_title_id]" value="{{ module_account_sidebar_link_title.module_account_sidebar_link_title_id }}" />
                                {% for language in languages %}
                                <div class="input-group"><span class="input-group-addon">
                                  <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                  <input type="text" name="module_account_sidebar_title[{{ title_row }}][link_title][{{ module_account_sidebar_link_title_row }}][module_account_sidebar_link_title_description][{{ language.language_id }}][name]" value="{{ module_account_sidebar_link_title.module_account_sidebar_link_title_description[language.language_id].name ? module_account_sidebar_link_title.module_account_sidebar_link_title_description[language.language_id].name }}" placeholder="{{ entry_link_title }}" class="form-control" />
                                  {% if error_link_title[title_row][link_key][language.language_id] %}
                                  <div class="text-danger">{{ error_link_title[title_row][link_key][language.language_id] }}</div>
                                  {% endif %}
                                </div>
                                {% endfor %}</td>
                              <td class="text-left"><input type="text" name="module_account_sidebar_title[{{ title_row }}][link_title][{{ module_account_sidebar_link_title_row }}][link]" value="{{ module_account_sidebar_link_title.link }}" class="form-control" /></td>
                              <td class="text-left"><input type="text" name="module_account_sidebar_title[{{ title_row }}][link_title][{{ module_account_sidebar_link_title_row }}][iconclass]" value="{{ module_account_sidebar_link_title.iconclass }}" class="form-control" /></td>
                              <td class="text-left">
                                <select name="module_account_sidebar_title[{{ title_row }}][link_title][{{ module_account_sidebar_link_title_row }}][logged]" id="input-logged" class="form-control">
                                  <option value="2" {% if module_account_sidebar_link_title.logged == '2' %} selected="selected" {% endif %} >{{ text_both }}</option>
                                  <option value="1" {% if module_account_sidebar_link_title.logged == '1' %}  selected="selected" {% endif %} >{{ text_yes }}</option>
                                  <option value="0" {% if module_account_sidebar_link_title.logged == '0' %} selected="selected" {% endif %} >{{ text_no }}</option>
                                  <option value="3" {% if module_account_sidebar_link_title.logged == '3' %} selected="selected" {% endif %} >{{ text_affiliate_register }}</option>
                                  <option value="4" {% if module_account_sidebar_link_title.logged == '4' %} selected="selected" {% endif %} >{{ text_affiliate_logged }}</option>
                                  <option value="9" {% if module_account_sidebar_link_title.logged == '9' %} selected="selected" {% endif %} >{{ text_disable }}</option>
                                </select>
                              </td>
                              <td class="text-right hide"><input type="text" name="module_account_sidebar_title[{{ title_row }}][link_title][{{ module_account_sidebar_link_title_row }}][sort_order]" value="{{ module_account_sidebar_link_title.sort_order }}" class="form-control link-sortorder" /></td>
                              <td class="text-right"><button type="button" onclick="$('#accountsidebarlink-title-row{{ title_row }}-{{ module_account_sidebar_link_title_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                            </tr>
                            {% set module_account_sidebar_link_title_row = module_account_sidebar_link_title_row + 1 %}
                            {% endfor %}
                            {% endif %}
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="4"></td>
                              <td class="text-right"><button type="button" onclick="addLinkTitle('{{ title_row }}');" data-toggle="tooltip" title="{{ button_link_title_add }}" class="btn  btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                            </tr>
                          </tfoot>
                        </table>
                      </fieldset>
                  </div>
                  {% set title_row = title_row + 1 %}
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
  $('#customer-email-language a:first').tab('show');
  $('#admin-email-language a:first').tab('show');
  $('#success-language a:first').tab('show');

  $('#email a:first').tab('show');

  $('#titles li:first-child a').tab('show');
  {% set j = 0 %}
  {% for key, title in titles %}
  $('#title-language{{ j }} li:first-child a').tab('show');
  {% set j = j + 1 %}
  {% endfor %}
//--></script>
<script type="text/javascript"><!--
$('#titles a:first').tab('show');
var title_row = {{ title_row }};
function addTitle() {
  html = '<div class="tab-pane" id="tab-title' + title_row + '">';
      html += '<div class="form-group">';
        html += '<label class="col-sm-2 control-label">{{ entry_status }}</label>';
        html += '<div class="col-sm-10">';
          html += '<select name="module_account_sidebar_title[' + title_row + '][status]" class="form-control title-status" rel="' + title_row + '">';
            html += '<option value="1" selected="selected">{{ text_enabled }}</option>';
            html += '<option value="0">{{ text_disabled }}</option>';
          html += '</select>';
        html += '</div>';
      html += '</div>';
      html += '<div class="form-group hide">';
        html += '<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_sort_order }}">{{ entry_sort_order }}</span></label>';
        html += '<div class="col-sm-10">';
          html += '<input type="text" name="module_account_sidebar_title[' + title_row + '][sort_order]"  value="' + (title_row + 1) + '" class="form-control title-sortorder" />';
        html += '</div>';
      html += '</div>';
      html += '<div class="title-group">';
        html += '<ul class="nav nav-tabs" id="title-language' + title_row + '">';
          {% for language in languages %}
          html += '<li><a href="#title-language' + title_row + '-{{ language.language_id }}" data-toggle="tab">';
          html += '<img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}' ;
         html += ' </a></li>';
          {% endfor %}
        html += '</ul>';
        html += '<div class="tab-content">';
          {% for language in languages %}
          html += '<div class="tab-pane" id="title-language' + title_row + '-{{ language.language_id }}">';
            html += '<div class="form-group required">';
              html += '<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_title }}">{{ entry_title }}</span></label>';
              html += '<div class="col-sm-10">';
                html += '<input type="text" name="module_account_sidebar_title[' + title_row + '][description][{{ language.language_id }}][title]" value="" placeholder="{{ entry_title }}" class="form-control" />';
              html += '</div>';
            html += '</div>';
           html += '</div>';
          {% endfor %}
        html += '</div>';
      html += '</div>';
    html += '<fieldset id="link-values' + title_row + '">';
      html += '<legend>{{ text_value_setting }}</legend>';
        html += '<table id="accountsidebarlink-title' + title_row + '" class="table table-striped table-bordered table-hover">';
          html += '<thead>';
            html += '<tr>';
              html += '<td class="text-left required">{{ entry_link_title }}</td>';
              html += '<td class="text-left">{{ entry_link }}</td>';
              html += '<td class="text-left">{{ entry_iconclass }}</td>';
              html += '<td class="text-left">{{ entry_logged }}</td>';
              html += '<td class="text-right hide">{{ entry_sort_order }}</td>';
              html += '<td class="text-right">{{ entry_action }}</td>';
            html += '</tr>';
          html += '</thead>';
          html += '<tbody class="links-sortable">';
          html += '</tbody>';
          html += '<tfoot>';
            html += '<tr>';
              html += '<td colspan="4"></td>';
              html += '<td class="text-right"><button type="button" onclick="addLinkTitle(' + title_row + ');" data-toggle="tooltip" title="{{ button_link_title_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>';
            html += '</tr>';
          html += '</tfoot>';
        html += '</table>';
    html += '</fieldset>';
  html += '</div>';

  $('#tab-account_sidebar-titles #tab-content').append(html);

  $('#titles').append('<li class="titles-li"><a href="#tab-title' + title_row + '" data-toggle="tab"><i class="fa fa-minus-circle" onclick=" $(\'#titles a:first\').tab(\'show\');$(\'a[href=\\\'#tab-title' + title_row + '\\\']\').parent().remove(); $(\'#tab-title' + title_row + '\').remove();"></i> {{ tab_title }}-'+ (title_row + 1)  +' <i class="fa fa-arrows pull-right" aria-hidden="true"></i></a></li>');

  $('#titles a[href=\'#tab-title' + title_row + '\']').tab('show');

  $('#title-language'+ title_row +' a:first').tab('show');

  $('[data-toggle=\'tooltip\']').tooltip({
    container: 'body',
    html: true
  });

  title_row++;

  // $(".links-sortable").sortable();
}
//--></script>
<script type="text/javascript"><!--
var module_account_sidebar_link_title_row = '{{ module_account_sidebar_link_title_row ? module_account_sidebar_link_title_row : 0 }}';

function addLinkTitle(title_row) {
  html  = '<tr id="accountsidebarlink-title-row' + title_row + '-' + module_account_sidebar_link_title_row + '">';
    html += '  <td class="text-left"><input type="hidden" name="module_account_sidebar_title[' + title_row + '][link_title][' + module_account_sidebar_link_title_row + '][module_account_sidebar_link_title_id]" value="" />';
  {% for language in languages %}
  html += '    <div class="input-group">';
  html += '      <span class="input-group-addon">';
  html += '<img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />';
  html += '</span><input type="text" name="module_account_sidebar_title[' + title_row + '][link_title][' + module_account_sidebar_link_title_row + '][module_account_sidebar_link_title_description][{{ language.language_id }}][name]" value="" placeholder="{{ entry_link_title }}" class="form-control" />';
    html += '    </div>';
  {% endfor %}
  html += '  </td>';
  html += '  <td class="text-left"><input type="text" name="module_account_sidebar_title[' + title_row + '][link_title][' + module_account_sidebar_link_title_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control" /></td>';
  html += '  <td class="text-left"><input type="text" name="module_account_sidebar_title[' + title_row + '][link_title][' + module_account_sidebar_link_title_row + '][iconclass]" value="" placeholder="{{ entry_iconclass }}" class="form-control" /></td>';
  html += '  <td class="text-left">';
   html += '  <select name="module_account_sidebar_title[' + title_row + '][link_title][' + module_account_sidebar_link_title_row + '][logged]" id="input-logged" class="form-control">';
     html += ' <option value="2">{{ text_both }}</option>';
     html += '  <option value="1">{{ text_yes }}</option>';
      html += '  <option value="0">{{ text_no }}</option>';
      html += '  <option value="3">{{ text_affiliate_register }}</option>';
      html += '  <option value="4">{{ text_affiliate_logged }}</option>';
     html += '   </select>';
   html += '    </td>';
  html += '  <td class="text-right hide"><input type="text" name="module_account_sidebar_title[' + title_row + '][link_title][' + module_account_sidebar_link_title_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control link-sortorder" /></td>';
  html += '  <td class="text-right"><button type="button" onclick="$(\'#accountsidebarlink-title-row' + title_row + '-' + module_account_sidebar_link_title_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
  html += '</tr>';

  $('#accountsidebarlink-title' + title_row + ' tbody').append(html);

  module_account_sidebar_link_title_row++;
}
//--></script>
<script type="text/javascript"><!--
/*$(document).ready(function() {
  $("#titles").sortable({
    cursor: "move",
    stop: function() {
      $('#titles .titles-li').each(function() {
        $($(this).find('a').attr('href')).find('.title-sortorder').val(($(this).index() + 1));
      });
    }
  });

  $(".links-sortable").sortable({
    cursor: "move",
    stop: function() {
      $('.links-sortable td').each(function() {
        $($(this).find('a').attr('href')).find('.link-sortorder').val(($(this).index() + 1));
      });
    }
  });
});*/
//--></script>
 <script type="text/javascript">
  var element = null;
  $('.color-picker').ColorPicker({
    curr : '',
    onShow: function (colpkr) {
      $(colpkr).fadeIn(500);
      return false;
    },
    onHide: function (colpkr) {
      $(colpkr).fadeOut(500);
    return false;
    },
    onSubmit: function(hsb, hex, rgb, el) {
      $(el).val('#'+hex);
      $(el).ColorPickerHide();
    },
    onBeforeShow: function () {
      $(this).ColorPickerSetColor(this.value);
    },
    onChange: function (hsb, hex, rgb) {
      element.curr.parent().next().find('.preview').css('background', '#' + hex);
      element.curr.val('#'+hex);
    }
  }).bind('keyup', function(){
    $(this).ColorPickerSetColor(this.value);
  }).click(function(){
    element = this;
    element.curr = $(this);
  });

  $.each($('.color-picker'),function(key,value) {
    $(this).parent().next().find('.preview').css({'background': $(this).val()});
  });
</script>
<style type="text/css">
  .preview { width: 45px; height: 35px; border: 1px solid #ColorPickerSetColorc;  }
</style>
</div>
{{ footer }}